<li <%= "id=listitemproject_#{project.id}" %> >
  <div class="col-md-6">
    <%= link_to project.title, project %>
  </div>


  <% p = Preference.find_by(team_id: team.id, project_id: project.id) %>
  <% if p %>
    <% check1 = true if p.value == 1 %>
    <% check2 = true if p.value == 0 %>
    <% check3 = true if p.value == -1 %>
    
  <% else %>
    <% check1 = false %>
    <% check2 = true %>
    <% check3 = false %>

  <% end %>
  
  <%= form_for(:preference, url: preferences_path, remote: true) do |f| %>
    <div class="col-md-2">
      <%= f.radio_button :value, "1", checked: check1, disabled: true %>
    </div>

    <div class="col-md-2">
      <%= f.radio_button :value, "0",  checked: check2, disabled: true %>
    </div>

    <div class="col-md-2">
      <%= f.radio_button :value, "-1",  checked: check3, disabled: true %>

  <% end %>


</li>
