<% provide(:title, 'Team Details') %>
<h1>Team Details</h1>

<% if @team.is_leader?(current_user) || current_user.admin? %>
  <h2><%= link_to "Edit", edit_team_path(@team) %>
  <% if @member_count <=1 and !@assignment %>
    | <%= link_to "Delete", @team, method: :delete,
                  data: {confirm: "You sure?"} %>
  <% end %>
  </h2>
<% end %>
<% if current_user.is_member?(@team) %><%# && !@team.is_leader?(current_user) %>
  <% r = Relationship.find_by(user_id: current_user.id, team_id: @team.id) %>
  <h2><%= link_to "Leave Team", r, method: :delete,
                  data: {confirm: "You sure?"} %>
  </h2>
<% end %>

<div class="row">
  <div class="col-md-10">
    <table class="table">
      <tr>
        <th>Team Name</th>
        <td><%= @team.name %></td>
      </tr>

      <tr>
        <th>Team Leader</th>
        <td><%= @team.user.firstname + " " + @team.user.lastname %></td>
      </tr>

      <tr>
        <th>Team Code</th>
        <td><%= @team.code %></td>
      </tr>
      <% if !@project.nil? %>
        <tr>
          <th>Project Name</th>
          <td><%= link_to @project.title, @project %></td>
        </tr>
      <% end %>
      <tr>
        <th>Project Preferences Filled?</th>
        <td><%= @team.preferences_filled == true ? "Yes" : "No" %></td>
      </tr>
      <tr>
        <th>Team Members</th>
        <td>
          <ol>
            <% @members.each do |m| %>
              <li>
                <% if current_user.admin? %>
                  <%= link_to m.firstname + " " + m.lastname, m %>
                  <%= button_to "Remove", {action: "remove", user_id: m.id, team_id: @team} %>
                <% else %>
                  <%= link_to m.firstname + " " + m.lastname, m %>
                <% end %>
              </li>
            <% end %>
            <% if current_user.admin? %>
              <%= form_tag({action: :add_user, team_id: @team.id}) do %>
                <%= select_tag(:user_name, options_for_select(@user_names)) %>
                <%= submit_tag("Add user") %>
              <% end %>
            <% end %>
          </ol>
        </td>
      </tr>
    </table>

  </div>
</div>
